  /* Grid */
  .row::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  
  .col-0-1 {
    float: left;
    width: 8.33%;
  }
  
  .col-0-2 {
    float: left;
    width: 16.66%;
  }
  
  .col-0-3 {
    float: left;
    width: 25%;
  }
  
  .col-0-4 {
    float: left;
    width: 33.33%;
  }
  
  .col-0-5 {
    float: left;
    width: 41.66%;
  }
  
  .col-0-6 {
    float: left;
    width: 50%;
  }
  
  .col-0-7 {
    float: left;
    width: 58.33%;
  }
  
  .col-0-8 {
    float: left;
    width: 66.66%;
  }
  
  .col-0-9 {
    float: left;
    width: 75%;
  }
  
  .col-0-10 {
    float: left;
    width: 83.33%;
  }
  
  .col-0-11 {
    float: left;
    width: 91.66%;
  }
  
  .col-0-12 {
    float: left;
    width: 100%;
  }
  
  /* Padding */
  .p-top-0 {
    box-sizing: border-box;
    padding-top: 0;
  }
  
  .p-bottom-0 {
    box-sizing: border-box;
    padding-bottom: 0;
  }
  
  .p-left-0 {
    box-sizing: border-box;
    padding-left: 0;
  }
  
  .p-right-0 {
    box-sizing: border-box;
    padding-right: 0;
  }
  
  .p-top-5 {
    box-sizing: border-box;
    padding-top: 5px;
  }
  
  .p-bottom-5 {
    box-sizing: border-box;
    padding-bottom: 5px;
  }
  
  .p-left-5 {
    box-sizing: border-box;
    padding-left: 5px;
  }
  
  .p-right-5 {
    box-sizing: border-box;
    padding-right: 5px;
  }
  
  .p-top-10 {
    box-sizing: border-box;
    padding-top: 10px;
  }
  
  .p-bottom-10 {
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  
  .p-left-10 {
    box-sizing: border-box;
    padding-left: 10px;
  }
  
  .p-right-10 {
    box-sizing: border-box;
    padding-right: 10px;
  }
  
  .p-top-15 {
    box-sizing: border-box;
    padding-top: 15px;
  }
  
  .p-bottom-15 {
    box-sizing: border-box;
    padding-bottom: 15px;
  }
  
  .p-left-15 {
    box-sizing: border-box;
    padding-left: 15px;
  }
  
  .p-right-15 {
    box-sizing: border-box;
    padding-right: 15px;
  }
  
  .p-top-20 {
    box-sizing: border-box;
    padding-top: 20px;
  }
  
  .p-bottom-20 {
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  
  .p-left-20 {
    box-sizing: border-box;
    padding-left: 20px;
  }
  
  .p-right-20 {
    box-sizing: border-box;
    padding-right: 20px;
  }
  
  .p-top-25 {
    padding-top: 25px;
    box-sizing: border-box;
  }
  
  .p-bottom-25 {
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  
  .p-left-25 {
    padding-left: 25px;
    box-sizing: border-box;
  }
  
  .p-right-25 {
    padding-right: 25px;
    box-sizing: border-box;
  }
  
  .p-top-30 {
    box-sizing: border-box;
    padding-top: 30px;
  }
  
  .p-bottom-30 {
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  
  .p-left-30 {
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .p-right-30 {
    box-sizing: border-box;
    padding-right: 30px;
  }
  
  /* Margin */
  .m-top-0 {
    margin-top: 0;
  }
  
  .m-bottom-0 {
    margin-bottom: 0;
  }
  
  .m-left-0 {
    margin-left: 0;
  }
  
  .m-right-0 {
    margin-right: 0;
  }
  
  .m-top-10 {
    margin-top: 10px;
  }
  
  .m-bottom-10 {
    margin-bottom: 10px;
  }
  
  .m-left-10 {
    margin-left: 10px;
  }
  
  .m-right-10 {
    margin-right: 10px;
  }
  
  .m-top-15 {
    margin-top: 15px;
  }
  
  .m-bottom-15 {
    margin-bottom: 15px;
  }
  
  .m-left-15 {
    margin-left: 15px;
  }
  
  .m-right-15 {
    margin-right: 15px;
  }
  
  .m-top-20 {
    margin-top: 20px;
  }
  
  .m-bottom-20 {
    margin-bottom: 20px;
  }
  
  .m-left-20 {
    margin-left: 20px;
  }
  
  .m-right-20 {
    margin-right: 20px;
  }
  
  .m-top-25 {
    margin-top: 25px;
  }
  
  .m-bottom-25 {
    margin-bottom: 25px;
  }
  
  .m-left-25 {
    margin-left: 25px;
  }
  
  .m-right-25 {
    margin-right: 25px;
  }
  
  .m-top-30 {
    margin-top: 30px;
  }
  
  .m-bottom-30 {
    margin-bottom: 30px;
  }
  
  .m-left-30 {
    margin-left: 30px;
  }
  
  .m-right-30 {
    margin-right: 30px;
  }
  
  /* Flex box */
  .d-f {
    display: flex;
  }
  
  .f-nowrap {
    flex-wrap: nowrap;
  }
  
  .f-wrap {
    flex-wrap: wrap;
  }
  
  .f-row {
    flex-direction: row;
  }
  
  .f-column {
    flex-direction: column;
  }
  
  .f-justify-space-between {
    justify-content: space-between;
  }
  
  /* width and height */
  .w-100 {
    width: 100% !important;
  }
  
  .h-auto {
    height: auto !important;
  }
  
  .w-200px {
    width: 200px !important;
  }
  
  @media screen and (min-width: 576px) {
    .col-576-1 {
      float: left;
      width: 8.33%;
    }
  
    .col-576-2 {
      float: left;
      width: 16.66%;
    }
  
    .col-576-3 {
      float: left;
      width: 25%;
    }
  
    .col-576-4 {
      float: left;
      width: 33.33%;
    }
  
    .col-576-5 {
      float: left;
      width: 41.66%;
    }
  
    .col-576-6 {
      float: left;
      width: 50%;
    }
  
    .col-576-7 {
      float: left;
      width: 58.33%;
    }
  
    .col-576-8 {
      float: left;
      width: 66.66%;
    }
  
    .col-576-9 {
      float: left;
      width: 75%;
    }
  
    .col-576-10 {
      float: left;
      width: 83.33%;
    }
  
    .col-576-11 {
      float: left;
      width: 91.66%;
    }
  
    .col-576-12 {
      float: left;
      width: 100%;
    }
  
    /* Padding */
    .p-top-576-0 {
      box-sizing: border-box;
      padding-top: 0;
    }
  
    .p-bottom-576-0 {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  
    .p-left-576-0 {
      box-sizing: border-box;
      padding-left: 0;
    }
  
    .p-right-576-0 {
      box-sizing: border-box;
      padding-right: 0;
    }
  
    .p-top-576-5 {
      box-sizing: border-box;
      padding-top: 5px;
    }
  
    .p-bottom-576-5 {
      box-sizing: border-box;
      padding-bottom: 5px;
    }
  
    .p-left-576-5 {
      box-sizing: border-box;
      padding-left: 5px;
    }
  
    .p-right-576-5 {
      box-sizing: border-box;
      padding-right: 5px;
    }
  
    .p-top-576-10 {
      box-sizing: border-box;
      padding-top: 10px;
    }
  
    .p-bottom-576-10 {
      box-sizing: border-box;
      padding-bottom: 10px;
    }
  
    .p-left-576-10 {
      box-sizing: border-box;
      padding-left: 10px;
    }
  
    .p-right-576-10 {
      box-sizing: border-box;
      padding-right: 10px;
    }
  
    .p-top-576-15 {
      box-sizing: border-box;
      padding-top: 15px;
    }
  
    .p-bottom-576-15 {
      box-sizing: border-box;
      padding-bottom: 15px;
    }
  
    .p-left-576-15 {
      box-sizing: border-box;
      padding-left: 15px;
    }
  
    .p-right-576-15 {
      box-sizing: border-box;
      padding-right: 15px;
    }
  
    .p-top-576-20 {
      box-sizing: border-box;
      padding-top: 20px;
    }
  
    .p-bottom-576-20 {
      box-sizing: border-box;
      padding-bottom: 20px;
    }
  
    .p-left-576-20 {
      box-sizing: border-box;
      padding-left: 20px;
    }
  
    .p-right-576-20 {
      box-sizing: border-box;
      padding-right: 20px;
    }
  
    .p-top-576-25 {
      padding-top: 25px;
      box-sizing: border-box;
    }
  
    .p-bottom-576-25 {
      padding-bottom: 25px;
      box-sizing: border-box;
    }
  
    .p-left-576-25 {
      padding-left: 25px;
      box-sizing: border-box;
    }
  
    .p-right-576-25 {
      padding-right: 25px;
      box-sizing: border-box;
    }
  
    .p-top-576-30 {
      box-sizing: border-box;
      padding-top: 30px;
    }
  
    .p-bottom-576-30 {
      box-sizing: border-box;
      padding-bottom: 30px;
    }
  
    .p-left-576-30 {
      box-sizing: border-box;
      padding-left: 30px;
    }
  
    .p-right-576-30 {
      box-sizing: border-box;
      padding-right: 30px;
    }
  
    /* Margin */
    .m-top-576-0 {
      margin-top: 0;
    }
  
    .m-bottom-576-0 {
      margin-bottom: 0;
    }
  
    .m-left-576-0 {
      margin-left: 0;
    }
  
    .m-right-576-0 {
      margin-right: 0;
    }
  
    .m-top-576-10 {
      margin-top: 10px;
    }
  
    .m-bottom-576-10 {
      margin-bottom: 10px;
    }
  
    .m-left-576-10 {
      margin-left: 10px;
    }
  
    .m-right-576-10 {
      margin-right: 10px;
    }
  
    .m-top-576-15 {
      margin-top: 15px;
    }
  
    .m-bottom-576-15 {
      margin-bottom: 15px;
    }
  
    .m-left-576-15 {
      margin-left: 15px;
    }
  
    .m-right-576-15 {
      margin-right: 15px;
    }
  
    .m-top-576-20 {
      margin-top: 20px;
    }
  
    .m-bottom-576-20 {
      margin-bottom: 20px;
    }
  
    .m-left-576-20 {
      margin-left: 20px;
    }
  
    .m-right-576-20 {
      margin-right: 20px;
    }
  
    .m-top-576-25 {
      margin-top: 25px;
    }
  
    .m-bottom-576-25 {
      margin-bottom: 25px;
    }
  
    .m-left-576-25 {
      margin-left: 25px;
    }
  
    .m-right-576-25 {
      margin-right: 25px;
    }
  
    .m-top-576-30 {
      margin-top: 30px;
    }
  
    .m-bottom-576-30 {
      margin-bottom: 30px;
    }
  
    .m-left-576-30 {
      margin-left: 30px;
    }
  
    .m-right-576-30 {
      margin-right: 30px;
    }
  
    /* Flex box */
    .d-576-f {
      display: flex;
    }
  
    .f-576-nowrap {
      flex-wrap: nowrap;
    }
  
    .f-576-wrap {
      flex-wrap: wrap;
    }
  
    .f-576-row {
      flex-direction: row;
    }
  
    .f-576-column {
      flex-direction: column;
    }
  
    .f-576-justify-space-between {
      justify-content: space-between;
    }
  
    /* width and height */
    .w-576-100 {
      width: 100% !important;
    }
  
    .h-576-auto {
      height: auto !important;
    }
  
    .w-576-200px {
      width: 200px !important;
    }
  }
  
  @media screen and (min-width: 720px) {
    .col-720-1 {
      float: left;
      width: 8.33%;
    }
  
    .col-720-2 {
      float: left;
      width: 16.66%;
    }
  
    .col-720-3 {
      float: left;
      width: 25%;
    }
  
    .col-720-4 {
      float: left;
      width: 33.33%;
    }
  
    .col-720-5 {
      float: left;
      width: 41.66%;
    }
  
    .col-720-6 {
      float: left;
      width: 50%;
    }
  
    .col-720-7 {
      float: left;
      width: 58.33%;
    }
  
    .col-720-8 {
      float: left;
      width: 66.66%;
    }
  
    .col-720-9 {
      float: left;
      width: 75%;
    }
  
    .col-720-10 {
      float: left;
      width: 83.33%;
    }
  
    .col-720-11 {
      float: left;
      width: 91.66%;
    }
  
    .col-720-12 {
      float: left;
      width: 100%;
    }
  
    /* Padding */
    .p-top-720-0 {
      box-sizing: border-box;
      padding-top: 0;
    }
  
    .p-bottom-720-0 {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  
    .p-left-720-0 {
      box-sizing: border-box;
      padding-left: 0;
    }
  
    .p-right-720-0 {
      box-sizing: border-box;
      padding-right: 0;
    }
  
    .p-top-720-5 {
      box-sizing: border-box;
      padding-top: 5px;
    }
  
    .p-bottom-720-5 {
      box-sizing: border-box;
      padding-bottom: 5px;
    }
  
    .p-left-720-5 {
      box-sizing: border-box;
      padding-left: 5px;
    }
  
    .p-right-720-5 {
      box-sizing: border-box;
      padding-right: 5px;
    }
  
    .p-top-720-10 {
      box-sizing: border-box;
      padding-top: 10px;
    }
  
    .p-bottom-720-10 {
      box-sizing: border-box;
      padding-bottom: 10px;
    }
  
    .p-left-720-10 {
      box-sizing: border-box;
      padding-left: 10px;
    }
  
    .p-right-720-10 {
      box-sizing: border-box;
      padding-right: 10px;
    }
  
    .p-top-720-15 {
      box-sizing: border-box;
      padding-top: 15px;
    }
  
    .p-bottom-720-15 {
      box-sizing: border-box;
      padding-bottom: 15px;
    }
  
    .p-left-720-15 {
      box-sizing: border-box;
      padding-left: 15px;
    }
  
    .p-right-720-15 {
      box-sizing: border-box;
      padding-right: 15px;
    }
  
    .p-top-720-20 {
      box-sizing: border-box;
      padding-top: 20px;
    }
  
    .p-bottom-720-20 {
      box-sizing: border-box;
      padding-bottom: 20px;
    }
  
    .p-left-720-20 {
      box-sizing: border-box;
      padding-left: 20px;
    }
  
    .p-right-720-20 {
      box-sizing: border-box;
      padding-right: 20px;
    }
  
    .p-top-720-25 {
      padding-top: 25px;
      box-sizing: border-box;
    }
  
    .p-bottom-720-25 {
      padding-bottom: 25px;
      box-sizing: border-box;
    }
  
    .p-left-720-25 {
      padding-left: 25px;
      box-sizing: border-box;
    }
  
    .p-right-720-25 {
      padding-right: 25px;
      box-sizing: border-box;
    }
  
    .p-top-720-30 {
      box-sizing: border-box;
      padding-top: 30px;
    }
  
    .p-bottom-720-30 {
      box-sizing: border-box;
      padding-bottom: 30px;
    }
  
    .p-left-720-30 {
      box-sizing: border-box;
      padding-left: 30px;
    }
  
    .p-right-720-30 {
      box-sizing: border-box;
      padding-right: 30px;
    }
  
    /* Margin */
    .m-top-720-0 {
      margin-top: 0;
    }
  
    .m-bottom-720-0 {
      margin-bottom: 0;
    }
  
    .m-left-720-0 {
      margin-left: 0;
    }
  
    .m-right-720-0 {
      margin-right: 0;
    }
  
    .m-top-720-10 {
      margin-top: 10px;
    }
  
    .m-bottom-720-10 {
      margin-bottom: 10px;
    }
  
    .m-left-720-10 {
      margin-left: 10px;
    }
  
    .m-right-720-10 {
      margin-right: 10px;
    }
  
    .m-top-720-15 {
      margin-top: 15px;
    }
  
    .m-bottom-720-15 {
      margin-bottom: 15px;
    }
  
    .m-left-720-15 {
      margin-left: 15px;
    }
  
    .m-right-720-15 {
      margin-right: 15px;
    }
  
    .m-top-720-20 {
      margin-top: 20px;
    }
  
    .m-bottom-720-20 {
      margin-bottom: 20px;
    }
  
    .m-left-720-20 {
      margin-left: 20px;
    }
  
    .m-right-720-20 {
      margin-right: 20px;
    }
  
    .m-top-720-25 {
      margin-top: 25px;
    }
  
    .m-bottom-720-25 {
      margin-bottom: 25px;
    }
  
    .m-left-720-25 {
      margin-left: 25px;
    }
  
    .m-right-720-25 {
      margin-right: 25px;
    }
  
    .m-top-720-30 {
      margin-top: 30px;
    }
  
    .m-bottom-720-30 {
      margin-bottom: 30px;
    }
  
    .m-left-720-30 {
      margin-left: 30px;
    }
  
    .m-right-720-30 {
      margin-right: 30px;
    }
  
    /* Flex box */
    .d-720-f {
      display: flex;
    }
  
    .f-720-nowrap {
      flex-wrap: nowrap;
    }
  
    .f-720-wrap {
      flex-wrap: wrap;
    }
  
    .f-720-row {
      flex-direction: row;
    }
  
    .f-720-column {
      flex-direction: column;
    }
  
    .f-720-justify-space-between {
      justify-content: space-between;
    }
  
    /* width and height */
    .w-720-100 {
      width: 100% !important;
    }
  
    .h-720-auto {
      height: auto !important;
    }
  
    .w-720-200px {
      width: 200px !important;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .col-1024-1 {
      float: left;
      width: 8.33%;
    }
  
    .col-1024-2 {
      float: left;
      width: 16.66%;
    }
  
    .col-1024-3 {
      float: left;
      width: 25%;
    }
  
    .col-1024-4 {
      float: left;
      width: 33.33%;
    }
  
    .col-1024-5 {
      float: left;
      width: 41.66%;
    }
  
    .col-1024-6 {
      float: left;
      width: 50%;
    }
  
    .col-1024-7 {
      float: left;
      width: 58.33%;
    }
  
    .col-1024-8 {
      float: left;
      width: 66.66%;
    }
  
    .col-1024-9 {
      float: left;
      width: 75%;
    }
  
    .col-1024-10 {
      float: left;
      width: 83.33%;
    }
  
    .col-1024-11 {
      float: left;
      width: 91.66%;
    }
  
    .col-1024-12 {
      float: left;
      width: 100%;
    }
  
    /* Padding */
    .p-top-1024-0 {
      box-sizing: border-box;
      padding-top: 0;
    }
  
    .p-bottom-1024-0 {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  
    .p-left-1024-0 {
      box-sizing: border-box;
      padding-left: 0;
    }
  
    .p-right-1024-0 {
      box-sizing: border-box;
      padding-right: 0;
    }
  
    .p-top-1024-5 {
      box-sizing: border-box;
      padding-top: 5px;
    }
  
    .p-bottom-1024-5 {
      box-sizing: border-box;
      padding-bottom: 5px;
    }
  
    .p-left-1024-5 {
      box-sizing: border-box;
      padding-left: 5px;
    }
  
    .p-right-1024-5 {
      box-sizing: border-box;
      padding-right: 5px;
    }
  
    .p-top-1024-10 {
      box-sizing: border-box;
      padding-top: 10px;
    }
  
    .p-bottom-1024-10 {
      box-sizing: border-box;
      padding-bottom: 10px;
    }
  
    .p-left-1024-10 {
      box-sizing: border-box;
      padding-left: 10px;
    }
  
    .p-right-1024-10 {
      box-sizing: border-box;
      padding-right: 10px;
    }
  
    .p-top-1024-15 {
      box-sizing: border-box;
      padding-top: 15px;
    }
  
    .p-bottom-1024-15 {
      box-sizing: border-box;
      padding-bottom: 15px;
    }
  
    .p-left-1024-15 {
      box-sizing: border-box;
      padding-left: 15px;
    }
  
    .p-right-1024-15 {
      box-sizing: border-box;
      padding-right: 15px;
    }
  
    .p-top-1024-20 {
      box-sizing: border-box;
      padding-top: 20px;
    }
  
    .p-bottom-1024-20 {
      box-sizing: border-box;
      padding-bottom: 20px;
    }
  
    .p-left-1024-20 {
      box-sizing: border-box;
      padding-left: 20px;
    }
  
    .p-right-1024-20 {
      box-sizing: border-box;
      padding-right: 20px;
    }
  
    .p-top-1024-25 {
      padding-top: 25px;
      box-sizing: border-box;
    }
  
    .p-bottom-1024-25 {
      padding-bottom: 25px;
      box-sizing: border-box;
    }
  
    .p-left-1024-25 {
      padding-left: 25px;
      box-sizing: border-box;
    }
  
    .p-right-1024-25 {
      padding-right: 25px;
      box-sizing: border-box;
    }
  
    .p-top-1024-30 {
      box-sizing: border-box;
      padding-top: 30px;
    }
  
    .p-bottom-1024-30 {
      box-sizing: border-box;
      padding-bottom: 30px;
    }
  
    .p-left-1024-30 {
      box-sizing: border-box;
      padding-left: 30px;
    }
  
    .p-right-1024-30 {
      box-sizing: border-box;
      padding-right: 30px;
    }
  
    /* Margin */
    .m-top-1024-0 {
      margin-top: 0;
    }
  
    .m-bottom-1024-0 {
      margin-bottom: 0;
    }
  
    .m-left-1024-0 {
      margin-left: 0;
    }
  
    .m-right-1024-0 {
      margin-right: 0;
    }
  
    .m-top-1024-10 {
      margin-top: 10px;
    }
  
    .m-bottom-1024-10 {
      margin-bottom: 10px;
    }
  
    .m-left-1024-10 {
      margin-left: 10px;
    }
  
    .m-right-1024-10 {
      margin-right: 10px;
    }
  
    .m-top-1024-15 {
      margin-top: 15px;
    }
  
    .m-bottom-1024-15 {
      margin-bottom: 15px;
    }
  
    .m-left-1024-15 {
      margin-left: 15px;
    }
  
    .m-right-1024-15 {
      margin-right: 15px;
    }
  
    .m-top-1024-20 {
      margin-top: 20px;
    }
  
    .m-bottom-1024-20 {
      margin-bottom: 20px;
    }
  
    .m-left-1024-20 {
      margin-left: 20px;
    }
  
    .m-right-1024-20 {
      margin-right: 20px;
    }
  
    .m-top-1024-25 {
      margin-top: 25px;
    }
  
    .m-bottom-1024-25 {
      margin-bottom: 25px;
    }
  
    .m-left-1024-25 {
      margin-left: 25px;
    }
  
    .m-right-1024-25 {
      margin-right: 25px;
    }
  
    .m-top-1024-30 {
      margin-top: 30px;
    }
  
    .m-bottom-1024-30 {
      margin-bottom: 30px;
    }
  
    .m-left-1024-30 {
      margin-left: 30px;
    }
  
    .m-right-1024-30 {
      margin-right: 30px;
    }
  
    /* Flex box */
    .d-1024-f {
      display: flex;
    }
  
    .f-1024-nowrap {
      flex-wrap: nowrap;
    }
  
    .f-1024-wrap {
      flex-wrap: wrap;
    }
  
    .f-1024-row {
      flex-direction: row;
    }
  
    .f-1024-column {
      flex-direction: column;
    }
  
    .f-1024-justify-space-between {
      justify-content: space-between;
    }
  
    /* width and height */
    .w-1024-100 {
      width: 100% !important;
    }
  
    .h-1024-auto {
      height: auto !important;
    }
  
    .w-1024-200px {
      width: 200px !important;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .col-1200-1 {
      float: left;
      width: 8.33%;
    }
  
    .col-1200-2 {
      float: left;
      width: 16.66%;
    }
  
    .col-1200-3 {
      float: left;
      width: 25%;
    }
  
    .col-1200-4 {
      float: left;
      width: 33.33%;
    }
  
    .col-1200-5 {
      float: left;
      width: 41.66%;
    }
  
    .col-1200-6 {
      float: left;
      width: 50%;
    }
  
    .col-1200-7 {
      float: left;
      width: 58.33%;
    }
  
    .col-1200-8 {
      float: left;
      width: 66.66%;
    }
  
    .col-1200-9 {
      float: left;
      width: 75%;
    }
  
    .col-1200-10 {
      float: left;
      width: 83.33%;
    }
  
    .col-1200-11 {
      float: left;
      width: 91.66%;
    }
  
    .col-1200-12 {
      float: left;
      width: 100%;
    }
  
    /* Padding */
    .p-top-1200-0 {
      box-sizing: border-box;
      padding-top: 0;
    }
  
    .p-bottom-1200-0 {
      box-sizing: border-box;
      padding-bottom: 0;
    }
  
    .p-left-1200-0 {
      box-sizing: border-box;
      padding-left: 0;
    }
  
    .p-right-1200-0 {
      box-sizing: border-box;
      padding-right: 0;
    }
  
    .p-top-1200-5 {
      box-sizing: border-box;
      padding-top: 5px;
    }
  
    .p-bottom-1200-5 {
      box-sizing: border-box;
      padding-bottom: 5px;
    }
  
    .p-left-1200-5 {
      box-sizing: border-box;
      padding-left: 5px;
    }
  
    .p-right-1200-5 {
      box-sizing: border-box;
      padding-right: 5px;
    }
  
    .p-top-1200-10 {
      box-sizing: border-box;
      padding-top: 10px;
    }
  
    .p-bottom-1200-10 {
      box-sizing: border-box;
      padding-bottom: 10px;
    }
  
    .p-left-1200-10 {
      box-sizing: border-box;
      padding-left: 10px;
    }
  
    .p-right-1200-10 {
      box-sizing: border-box;
      padding-right: 10px;
    }
  
    .p-top-1200-15 {
      box-sizing: border-box;
      padding-top: 15px;
    }
  
    .p-bottom-1200-15 {
      box-sizing: border-box;
      padding-bottom: 15px;
    }
  
    .p-left-1200-15 {
      box-sizing: border-box;
      padding-left: 15px;
    }
  
    .p-right-1200-15 {
      box-sizing: border-box;
      padding-right: 15px;
    }
  
    .p-top-1200-20 {
      box-sizing: border-box;
      padding-top: 20px;
    }
  
    .p-bottom-1200-20 {
      box-sizing: border-box;
      padding-bottom: 20px;
    }
  
    .p-left-1200-20 {
      box-sizing: border-box;
      padding-left: 20px;
    }
  
    .p-right-1200-20 {
      box-sizing: border-box;
      padding-right: 20px;
    }
  
    .p-top-1200-25 {
      padding-top: 25px;
      box-sizing: border-box;
    }
  
    .p-bottom-1200-25 {
      padding-bottom: 25px;
      box-sizing: border-box;
    }
  
    .p-left-1200-25 {
      padding-left: 25px;
      box-sizing: border-box;
    }
  
    .p-right-1200-25 {
      padding-right: 25px;
      box-sizing: border-box;
    }
  
    .p-top-1200-30 {
      box-sizing: border-box;
      padding-top: 30px;
    }
  
    .p-bottom-1200-30 {
      box-sizing: border-box;
      padding-bottom: 30px;
    }
  
    .p-left-1200-30 {
      box-sizing: border-box;
      padding-left: 30px;
    }
  
    .p-right-1200-30 {
      box-sizing: border-box;
      padding-right: 30px;
    }
  
    /* Margin */
    .m-top-1200-0 {
      margin-top: 0;
    }
  
    .m-bottom-1200-0 {
      margin-bottom: 0;
    }
  
    .m-left-1200-0 {
      margin-left: 0;
    }
  
    .m-right-1200-0 {
      margin-right: 0;
    }
  
    .m-top-1200-10 {
      margin-top: 10px;
    }
  
    .m-bottom-1200-10 {
      margin-bottom: 10px;
    }
  
    .m-left-1200-10 {
      margin-left: 10px;
    }
  
    .m-right-1200-10 {
      margin-right: 10px;
    }
  
    .m-top-1200-15 {
      margin-top: 15px;
    }
  
    .m-bottom-1200-15 {
      margin-bottom: 15px;
    }
  
    .m-left-1200-15 {
      margin-left: 15px;
    }
  
    .m-right-1200-15 {
      margin-right: 15px;
    }
  
    .m-top-1200-20 {
      margin-top: 20px;
    }
  
    .m-bottom-1200-20 {
      margin-bottom: 20px;
    }
  
    .m-left-1200-20 {
      margin-left: 20px;
    }
  
    .m-right-1200-20 {
      margin-right: 20px;
    }
  
    .m-top-1200-25 {
      margin-top: 25px;
    }
  
    .m-bottom-1200-25 {
      margin-bottom: 25px;
    }
  
    .m-left-1200-25 {
      margin-left: 25px;
    }
  
    .m-right-1200-25 {
      margin-right: 25px;
    }
  
    .m-top-1200-30 {
      margin-top: 30px;
    }
  
    .m-bottom-1200-30 {
      margin-bottom: 30px;
    }
  
    .m-left-1200-30 {
      margin-left: 30px;
    }
  
    .m-right-1200-30 {
      margin-right: 30px;
    }
  
    /* Flex box */
    .d-1200-f {
      display: flex;
    }
  
    .f-1200-nowrap {
      flex-wrap: nowrap;
    }
  
    .f-1200-wrap {
      flex-wrap: wrap;
    }
  
    .f-1200-row {
      flex-direction: row;
    }
  
    .f-1200-column {
      flex-direction: column;
    }
  
    .f-1200-justify-space-between {
      justify-content: space-between;
    }
  
    /* width and height */
    .w-1200-100 {
      width: 100% !important;
    }
  
    .h-1200-auto {
      height: auto !important;
    }
  
    .w-1200-200px {
      width: 200px !important;
    }
  }

  .clear-both {
    clear: both;
  }
  